body{
    padding:24px;
    background:#CCC;
    width:1135px;
    margin:auto;
}

#my_canvas{
    background:#FFF;
    border:#000 1px solid;
    float:left;
}

#debug{
    margin-left:30px;
    background: white;
    float:left;
    width:300px;
    height:450px;
    overflow-y:scroll;
}

#program{
    padding-top:10px;
    clear:both;
    width: 100%;
}